include *.md LICENSE

recursive-include flask_openapi *
recursive-include flask_openapi/ui *
recursive-include flask_openapi/ui/static *
recursive-include flask_openapi/ui/static/lib *
recursive-include flask_openapi/ui/templates *
recursive-include flask_openapi/ui/templates/flask_openapi *
recursive-include etc *
recursive-include tests *

recursive-exclude flask_openapi __pycache__
recursive-exclude flask_openapi *.py[co]
