apispec-webframeworks==0.5.2
apispec==6.0.2
build==0.9.0
coveralls==3.3.1
decorator==5.1.1
flake8==3.8.4
flask-restful==0.3.9
flex==6.14.1
marshmallow==3.10.0
mypy==0.942
pep8==1.7.1
pylint==2.15.8
pytest-cov==4.0.0
pytest==7.2.0
readme_renderer==37.3
safety==2.3.5
setuptools
twine==4.0.2
types-PyYAML==6.0.7
types-six==1.16.21.4
wheel==0.38.1
babel==2.9.1
oauthlib==3.2.1
twisted==22.10.0
pyjwt==1.5.1
-e .