<div class="swagger-ui">
  <div class="wrapper" style="padding-bottom: 10px !important">
    <section class="clear flask-openapi-footer">
      {{ui_config.footer_text | safe}}
      <span style="float: right">
        Powered by
        <a
          target="_blank"
          href="https://github.com/overflowdigital/Flask-OpenAPI"
          >Flask OpenAPI3 UI</a
        >
        v{{ flasgger_version }} &middot; Swagger UI {{ui_config.uiversion}}
        <br />
      </span>
    </section>
  </div>
</div>
