marshmallow
apispec
apispec-webframeworks
flask-restful
pep8
flake8
pytest
flex
coveralls
pytest-cov
decorator
wheel
flask-jwt
twine
mypy
pylint
readme_renderer
setuptools
build
types-PyYAML
types-six
-e .
-e etc/flask_openapi_package
